.logo {
  width: 50px;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid;
  margin: 16px;
  padding: 6px;
  padding:2px;
  color: rgb(0, 0, 0);
}
.nav-item >ul {
  display: flex;
  padding:2px;
  margin:2px;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item > ul >a > li {
  padding: 15px;
}
.ram{
  background-color: rgb(0, 132, 255);
  border-radius: 25px ; 
  border-style: none;
}

.card{
  border:solid rgb(159, 153, 153);
  width: 150px;
  margin:16px;
  padding: 25px;
}

.card>img{
  border:solid rgb(129, 128, 128);
  width: 100%;
}
.text{
font-size: 10px;
text-decoration: none;
border: solid rgb(203, 198, 198);
margin:2px;
padding: 2px;
}
.operated-in{
  text-align: center;
  font-size: 20px;
  color:rgb(96, 91, 91); 
}
.properties-list{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}
.Main-Title{
  text-align: center;
  font-size: 30px;
  color:red;
}
.search-container{
  padding: 15px;
  margin: 15px;
}

.card1{
  border:solid rgb(159, 153, 153);
  width: 150px;
  margin:16px;
  padding: 25px;
}

.outeralign{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.image{
  border:solid rgb(159, 153, 153);
  width: 500px;
  margin:16px;
  padding: 25px;
}
.card-price{
  border:solid rgb(159, 153, 153);
  margin: 10px;
  padding: 10px
}
.card-price>h4{
  margin: 19px;
}

.cart {
  display: flex;
  text-align: center;
  border: 1px solid black;
  padding:10px;
  margin: 30px;
 }
 .pink{
  border: 1px solid black;

  padding: 26px;
}  
.remove{
  margin-bottom: -16px;
  margin-top: 18px;
  border: 1px solid black;
  padding: 34px;
  height: 105px

}

.buttonclear{
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 136px;
  background-color: #f44336;

}